:root {
  /* color schemas */
  --primary-color: rgb(71, 46, 151);
  --secondary-color: #3E51C9;
  --gradient-primary: linear-gradient(45deg, ##472E97, #3E51C9);
  --gradient-navbar-dark: linear-gradient(45deg, ##472E97, #3E51C9);
  --gradient-navbar-light: linear-gradient(45deg, ##472E97, #3E51C9);
